#rojo{
    height: 300px;/*Alto*/
    width: 400px;/*Ancho*/
    background-color: rgb(255, 0, 0);
    font-size: 32px;
    border: 15px solid rgb(151, 0, 0);
    padding: auto;
    margin: auto;
    color: rgb(0, 13, 255);
    text-align: center;
}
#azul{
    height: 300px;/*Alto*/
    width: 400px;/*Ancho*/
    background-color: rgb(0, 0, 255);
    font-size: 32px;
    border: 15px solid rgb(0, 0, 150);
    padding: auto;
    margin: auto;
    color: rgb(255, 0, 0);
    text-align: center;
}